.projects-outer-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-inner-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
}

@media only screen and (min-width: 799px) {
  .projects-inner-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(var(--project-card-width) * 2.05);
    /* border: 1px solid blue; */
  }

  @media only screen and (min-width: 1199px) {
    .projects-inner-container {
      width: calc(var(--project-card-width) * 3.08);
    }
  }
} 
